body
{
	background: hsl(0, 0%, 100%);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: #1c122e36;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

.send {
	background-image: url("gradient.gif");
	border: none;
	padding: 10px;
	font-family: Raleway;
	font-size: 25px;
	font-weight: bold;
     border-radius: 50px;
}

.ti {

	border-radius: 50px;
		background-color: #1c122e28;
}

h4 {

	font-family: raleway;
	font-weight: bolder;
}